<!DOCTYPE html>
<html>

<head>
    <title>Uploaded Books</title>
</head>

<body>
    <h1>Uploaded Books</h1>
    <!DOCTYPE html>
    <html>

    <head>
        <title>Book Details</title>
    </head>

    <body>
        <h1>{{ file_data.title }}</h1>
        <p><strong>Description:</strong> {{ file_data.description }}</p>
        <p><strong>Price:</strong> ${{ file_data.price }}</p>
        <img src="data:image/jpeg;base64,{{ file_data.image_base64 }}">
    </body>

    </html>

    <ul>
        {% for file in files %}
        <li>
            <h2>{{ file.title }}</h2>
            <p><strong>Description:</strong> {{ file.description }}</p>
            <p><strong>Price:</strong> ${{ file.price }}</p>
            <a href="{{ url_for('download_file', file_id=file.id) }}">Download Book</a>
            <img src="data:image/jpeg;base64,{{ file.image_base64 }}">
        </li>
        {% endfor %}
    </ul>
</body>

</html>